<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro YAPE view4</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body class="fondo-Amarillo">

    <section class="container center">
        <section class="row contendorRow">
            <div class="col s12">
                <img src="../assets/img/icons/check.png"  class="imgCheck">
                <div class="row">
                    <h5>Bien!</h5>
                </div>
                <div class="row">
                    <h5>Ahora puedes usar Yape</h5>
                </div>
            </div>
        </section>
    </section>
    
    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../static/assets/minificadoJS/main.js"></script>
</body>

</html>
