<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro YAPE view3</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body>

    <section class="contariner">
        <section class="row">
            <div class="col s4 offset-s4 mgt-10">
                <img class="responsive-img" src="../assets/img/icons/message.png">
            </div>
        </section>

        <section class="row">
            <div class="col s8 offset-s2 center">
                <h5>Ahora ingresa tu código</h5>
                <p> Enviamos un SMS con el código de validación al número <strong><span id="spanNumTel"></span></strong></p>
                
            </div>
        </section>

        <section class="row">
            <form class="col s12 center">
                <div class="row">
                    <div class="input-field col s12 contenedorBoton center">

                        <p>
                            <input id="inputCodigoTelefono" type="tel" class="validate">
                            <label for="icon_telephone"><img class="imgIcon" src="../assets/img/icons/lock.png"></label>
                        </p>
                    </div>
                </div>
                <div class="row mgt-0">
                    <div class="col s12 mgt-0">
                        <p class="center mgt-0">
                            <label for="">Reintentar en <img class="imgIcon" src="../assets/img/icons/clock.png"> 21</label>
                        </p>
                    </div>
                </div>
            </form>
        </section>
    </section>

<!--Este view debe avanzar al view siguiente despues de ingresar el codigo que envio la API-->

    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../static/assets/minificadoJS/main.js"></script>
    <script src="../static/assets/minificadoJS/JSview3.js"></script>
</body>

</html>
