<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro YAPE view4</title>
    <link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>

<body>

    <section class="contariner">
        <section class="row">
            <div class="col s4 offset-s4 mgt-10">
                <img class="responsive-img" src="../assets/img/icons/message.png">
            </div>
        </section>

        <section class="row">
            <div class="col s8 offset-s2 center">
                <h5>Crear usuario en YAPE</h5>
                <p> Ingresa un nombre, email y clave de usuario</p>
            </div>
        </section>

        <section class="row">
            <form class="col s12 center">
                <div class="row mgt-0">

                    <div class="input-field col s12 contenedorBoton center mgt-0">
                        <p>
                            <input id="inputTelefono" type="tel" class="mgb-0 validate">
                            <label for="icon_telephone"><i class="material-icons">lock_outline</i> <span class="pdR-30">Nombre</span></label>
                        </p>
                    </div>

                </div>
                <div class="row mgt-0">
                    <div class="input-field col s12 contenedorBoton center mgt-0">
                        <p>
                            <input id="inputTelefono" type="tel" class="mgb-0 validate">
                            <label for="icon_telephone"><i class="material-icons">lock_outline</i> <span class="pdR-20">correo@ejemplo.com</span></label>
                        </p>
                    </div>
                </div>

                <div class="row mgt-0">
                    <div class="input-field col s12 contenedorBoton center mgt-0">
                        <p>
                            <input id="inputTelefono" type="tel" class="mgb-0 validate">
                            <label for="icon_telephone"><i class="material-icons">lock_outline</i> <span class="pdR-20">Ingresa clave de 6 dígitos</span></label>
                        </p>
                    </div>
                </div>
                <div class="row mgt-0">
                    <div class="col s12 mgt-0">
                        <p class="center mgt-0">
                            <label for="">Cuida esta clave como oro, e stu acceso a Yape</label>
                        </p>
                    </div>
                </div>
                <button id="botonContinuar" class="btn contenedorBoton__boton disabled" type="submit">CONTINUAR</button>

            </form>

        </section>

    </section>



    <script src="../static/jquery/dist/jquery.min.js"></script>
    <script src="../static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="../static/assets/minificadoJS/main.js"></script>
</body>

</html>
