$font-stack: Helvetica,
sans-serif;
$primary-color: #333;
$color-negro: black;
$color-amarillo: #fbd43b;
body {
    font: 100% $font-stack;
    color: $color-negro;
}

.contenedorBoton {
    &__boton {
        background-color: #fbd43b;
    }
}

.tamanoImg {
    height: 50vh;
}
