/*-----Variables------*/
$rojo-bullet : #f64552;
$gris-bullet : #f8f8f8;
$amarillo-botones : #fbd43b;
$gris-dark : #212121;
$gris-letraSoft : #8f8f8f;
$turquesa-trminosCondiciones: #00c3a3;
$morado-entradaNumeros : #49233b;
$morado-light : #451e36;
$morado-dark : #38052a;
$negro: black;
/*-----Variables------*/


/*Calses Globales*/
.mgt-10{
    margin-top: 10vh;
}
.mgt-0{
    margin-top: 0;
}

.mgb-10{
    margin-bottom: 10vh;
}

.mgb-0{
    margin: 0;
} 
.mg-0{
    margin: 0;
}

.pdR-30{
    padding-left: 30%;
}

.pdR-20{
    padding-left: 20%;
}
/*Calses Globales*/

body {
    color: $negro;
}

/*-------Estilos view2.html----------*/


/*-------Estilos view2.html----------*/




/*-------Estilos index.html----------*/
.carousel{
    /*height: 1000px!important;*/
    height: 450px!important;
}

.carousel .indicators .indicator-item {
    background-color: $gris-dark;
}

.carousel .indicators .indicator-item.active {
    background-color: red; 
}

.tamanoImg {
    width: 100%; 
}

.imgIcon{
    height: 3.5vh;
}

//mi clase de carrusel
/*.carrusel{
    margin-top: 10%;
    &__contenedor{
        padding-top: 1vh 0;        
             &--parrafos{
            font-size: 50vh;
        }
    }
}*/
.contenedorBoton {
    &__boton {
        background-color: #fbd43b;
        text-align: center;
    }
}
/*-------Estilos index.html----------*/

/*----------Estilos View5-------*/
.fondo-Amarillo{
    background-color: $amarillo-botones;
}
.imgCheck{
    height: 15vh;
}
/*.contendor-felx{
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.contendorRow{
    margin-top: 60%;
}
/*----------Estilos View5-------*/



/*----------Estilos View6-------*/
.mgt-2vh{
    margin-top: 2vh;
}

/*----------Estilos View6-------*/

